/* COMMON */
body {
  margin: 0;}

.page {
  background-image: url(../images/anonymous-server-background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100%;
  width: 100%;
}




/* HEADER */
.page__header {}
.nav-trigger {
  background-image: url('../images/ico-menu.svg');
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}




/* MENU */
.nav {}
.nav__items {
  list-style: none;
}
.nav__item {

}

.nav__link {
  text-decoration:none;
}
.nav__link:visited{
   color:#99CC66;
}
.nav__link:hover{
   color:#441111; background: #777554;
}

.nav-close {
  background-image: url('../images/ico-close.svg');
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
}




/* MAIN */
.page__main {}
.page__wrapper {}
.page__main-title {}




/* FOOTER */
.page__footer {}
.page__footer {}
.page__footer-copy {}
